.git
.gitignore
.gitattributes

*.vo
*.vok
*.vos
*.glob
*.aux
*.cache
*.timing

.coq-native
*.coq-native

Makefile
Makefile.conf
CoqMakefile
CoqMakefile.conf
.coqdeps.d

doc/

.vscode
.idea
*.swp
*.swo
*~

.DS_Store
Thumbs.db

Dockerfile
.dockerignore 